<app-navbar></app-navbar>
<header>
  <section class="promos">
    <div>
      <p>استخدم كود: <span class="code">اهلا</span></p>
      <p>تطبق الشروط والاحكام</p>
    </div>

    <div>
      <h6>لك خصم  +  <span>توصيل مجاني</span></h6>
      <p>علي طلبك الاول لجميع منتجات بيوتي سنتر</p>
    </div>
  </section>

  <app-slider></app-slider>

  <section class="joinMail" id="form" #form>
    <p>انضم لقائمتنا البريدية</p>
    <p>قم بالتسجيل للحصول على التحديثات الرائعة ، الوافدين الجدد وخصومات المطلعين فقط</p>
    <form>
      <div class="mail">
        <input type="email" placeholder="أدخل عنوان بريدك الالكتروني" required>
      </div>
      <button class="send">إرسال</button>
    </form>
    <div class="socialLinks">
      <a href="#"><i class="fa-brands fa-pinterest"></i></a>
      <a href="#"><i class="fa-brands fa-snapchat"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </div>
    <button class="refuse" (click)="refuse(form)">لا شكرا</button>
  </section>
</header>

<app-categories></app-categories>
